[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.9.0"
line-bot-sdk = "==1.16.0"
Flask = "==2.3.2"
googletrans = "==2.4.0"

[requires]
python_version = "3.8"
